/* 
IMPORTS FONT 
*/

@font-face {
    font-family: AvenirLTStd-Book;
    src: url('../font/Avenir-Font/AvenirLTStd-Book.otf');
}

@font-face {
    font-family: WCManoNegraBta;
    src: url('../font/WC-Mano-Negra-Bta/WCManoNegraBta.otf');
}


/*
VARIABLES
*/

* {
    /*Text colors*/
    -fx-title-color : #cadb2a;
    -fx-subtitle-color : #666666ff;
    -fx-text-color : #000000ff;
    -fx-hyperlink-color : #666666ff;

    /*Pane colors*/
    -fx-background1-color : #6bac9a;
    -fx-background2-color : #efefefff;
    -fx-background2-color-alt : rgb(208, 208, 208);
    -fx-background3-color : #00936e;
    -fx-lines-color : #00936e;
    -fx-light-primary-color : #e1f33d;
    -fx-primary-color : #cadb2a;
    -fx-primary-color-alt : #abba22;
    -fx-secondary-color : #03b9bd;
    -fx-deny-color : #f58229;
    -fx-deny-color-alt : #d76f1f;
    -fx-arrow-bg-color : #00000000;
}


/*
GLOBAL
*/

* {
    -fx-font-family : AvenirLTStd-Book;
    -fx-text-fill : -fx-text-color;
    -fx-font-size : 11;
}


/* 
TEXTS 
*/

#hyperlink {
    -fx-font-family : Arial;
    -fx-text-fill : -fx-hyperlink-color;
    -fx-underline : true;
}

#text {
    -fx-font-size : 13;
}

#subtitle {
    -fx-font-family : WCManoNegraBta;
    -fx-text-fill : -fx-subtitle-color;
}

#title {
    -fx-font-family : WCManoNegraBta;
    -fx-text-fill : -fx-title-color;
    -fx-font-size : 32;
}


/*
TEXTFIELD
*/

#textfield {
    -fx-background-color : -fx-background2-color;
    -fx-border-radius : 4;
    -fx-font-size : 13
}

#textfield:hover {
    -fx-background-color : -fx-background2-color-alt;
}


/*
TEXTAREA
*/

#textarea {
    -fx-background-color : none;
}

#textarea .content {
    -fx-background-color : -fx-background2-color;
    -fx-background-radius : 4;
}

#textarea:hover .content {
    -fx-border-color : -fx-primary-color;
    -fx-border-radius : 4;
}


/* 
BUTTONS 
*/

#button {
    -fx-background-color : -fx-primary-color;
}

#button:hover {
    -fx-background-color : -fx-primary-color-alt;
}

#button_cancel {
    -fx-background-color : -fx-deny-color;
}

#button_cancel:hover {
    -fx-background-color : -fx-deny-color-alt;
}

#left_button {
    -fx-background-color : -fx-background2-color;
    -fx-background-radius : 5;
    -fx-border-color : -fx-primary-color;
    -fx-border-radius : 4;

    -fx-background-image : url("../img/picto/faune.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center left;
}

#left_button:hover {
    -fx-background-color : -fx-background2-color-alt;
    -fx-border-color : -fx-secondary-color;
}

#selected_left_button {
    -fx-background-color : -fx-light-primary-color;
    -fx-background-radius : 5;
    -fx-border-color : -fx-primary-color;
    -fx-border-radius : 4;

    -fx-background-image : url("../img/picto/faune.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center left;
}


/*
PICTO
*/

.top_button {
    -fx-background-image : url("../img/picto/parc.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center left;
}

.bt_consulter {
    -fx-background-image : url("../img/picto/patrimoine.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center left;
}

.bt_administrer {
    -fx-background-image : url("../img/picto/parc.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center left;
}

.bt_importer {
    -fx-background-image : url("../img/picto/experimentation.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center left;
}

.bt_saisir {
    -fx-background-image : url("../img/picto/tourisme.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center left;
}

/* 
BACKGROUNDS 
*/

#background {
    -fx-background-color: linear-gradient(to right, rgba(4,147,107,1), rgba(255,255,255,1) 100%);
    -fx-background-image : url("../img/logo_pnr_transparent.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center left;
}

#background_2 {
    -fx-background-color : -fx-background3-color;
}

#background_1 {
    -fx-background-color : -fx-background1-color;
}

#left_panel {
    -fx-background-color : -fx-background1-color;
    -fx-border-color :  -fx-lines-color;
}

#right_panel {
    -fx-background-color : -fx-background1-color;
    -fx-border-color :  -fx-lines-color;
    -fx-background-image: url("../img/logo_pnr_transparent.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#select_pane {
    -fx-background-color : -fx-background3-color;
    -fx-background-radius : 4;
}


/* 
DATE 
*/

.date-picker-popup {
    -fx-background-color: #00000000;
}

.date-picker .cell {
    -fx-border-radius : 4;
    -fx-background-color: -fx-background1-color;
    -fx-pref-width:30px ;
    -fx-pref-height:25px ;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-background2-color;
    -fx-text-fill : -fx-hyperlink-color;
}
    
.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
}

.date-picker .button {
    -fx-background-color: -fx-arrow-bg-color;
    -fx-border-radius : 4;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}
    
.date-picker .text-field {
    -fx-background-color : -fx-background2-color;
}

.date-picker {
    -fx-background-color : -fx-background2-color;
    -fx-border-color : -fx-background2-color;
    -fx-border-radius : 4;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}

.date-picker > .arrow-button {
    -fx-background-color : #00000000;
    -fx-background-image: url("../img/icons/calendar.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 4;
    -fx-border-width : 40;

}

.date-picker-popup .month-year-pane .label {
	-fx-text-fill: -fx-background1-color;

}

.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-primary-color;
    -fx-border-color: #00000000;
    -fx-background-color: -fx-lines-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: -fx-background1-color;
}

.combo-box-base:editable > *,
.date-picker-popup > * {
    -fx-background-color: -fx-background2-color;
    -fx-background-radius: 4;
}


/* 
SPINNER 
*/

.spinner {
    -fx-background-color : -fx-background2-color;
    -fx-border-color : -fx-background2-color;
    -fx-border-radius : 4;
}

.spinner .text-field {
    -fx-background-color : -fx-background2-color;
}

.spinner .button {
    -fx-background-color: -fx-arrow-bg-color;
    -fx-border-radius : 4;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}
    
.date-picker .text-field {
    -fx-background-color : -fx-background2-color;
}

.date-picker {
    -fx-background-color : -fx-background2-color;
    -fx-border-color : -fx-background2-color;
    -fx-border-radius : 4;
}

.date-picker:hover {
    -fx-background-color : -fx-background2-color-alt;
    -fx-border-color : -fx-background2-color-alt;
}

.spinner > * {
    -fx-background-color : #00000000;
}


/*
DROPDOWN
*/

#dropdown {
    -fx-background-color : -fx-primary-color;
}

#dropdown:hover {
    -fx-background-color : -fx-primary-color-alt;
}

#dropdown_item {
    -fx-background-color : -fx-background1-color;
}

#dropdown_item:focused {
    -fx-background-color : -fx-primary-color;
}


/*
CHECKBOX
*/

#checkbox > * {
    -fx-background-color : -fx-background2-color;
    -fx-backgroud-radius : 4;
    -fx-border-color : none;
}

#checkbox:hover > * {
    -fx-background-color : -fx-background2-color-alt;
}