/* IMPORTS FONT */
@font-face {
    font-family: Oswald;
    src: url('../font/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: Comfortaa;
    src: url('../font/Comfortaa/Comfortaa-Regular.ttf');
}

/*VARIABLES*/
* {
    /*Text colors*/
    -fx-title-color : #6aa84fff;
    -fx-subtitle-color : #666666ff;
    -fx-text-color : #000000ff;
    -fx-hyperlink-color : #666666ff;

    /*Pane colors*/
    -fx-background1-color : #f3f3f3ff;
    -fx-background2-color : #efefefff;
    -fx-background2-color-alt : rgb(208, 208, 208);
    -fx-background3-color : #d9d9d9ff;
    -fx-lines-color : #ccccccff;
    -fx-light-primary-color : rgb(151, 202, 129);
    -fx-primary-color : #6aa84fff;
    -fx-primary-color-alt : rgb(75, 131, 51);
    -fx-deny-color : #eb5600ff;
    -fx-deny-color-alt : rgb(177, 65, 0);
    -fx-arrow-bg-color : #00000000;
}

/* TEXTS */
#hyperlink {
    -fx-font-family : Arial;
    -fx-text-fill : -fx-hyperlink-color;
    -fx-underline : true;
}

#text {
    -fx-font-family : Oswald;
    -fx-text-fill : #000000ff;
}

#subtitle {
    -fx-font-family : Comfortaa;
    -fx-text-fill : -fx-subtitle-color;
}

#title {
    -fx-font-family : Comfortaa;
    -fx-text-fill : #6aa84fff;
    -fx-font-size : 32;
}

/*TEXTFIELD*/
#textfield {
    -fx-background-color : -fx-background2-color;
    -fx-border-radius : 4;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

#textfield:hover {
    -fx-background-color : -fx-background2-color-alt;
}

/*TEXTAREA*/
#textarea {
    -fx-background-color : none;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

#textarea .content {
    -fx-background-color : -fx-background2-color;
    -fx-background-radius : 4;
}

#textarea:hover .content {
    -fx-border-color : -fx-primary-color;
    -fx-border-radius : 4;
}

/* BUTTONS */
#button {
    -fx-background-color : -fx-primary-color;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

#button:hover {
    -fx-background-color : -fx-primary-color-alt;
}

#button_cancel {
    -fx-background-color : -fx-deny-color;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

#button_cancel:hover {
    -fx-background-color : -fx-deny-color-alt;
}

#left_button {
    -fx-background-color : -fx-background1-color;
    -fx-border-color : -fx-hyperlink-color;
    -fx-border-radius : 4;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

#left_button:hover {
    -fx-background-color : -fx-background2-color-alt;
    -fx-border-color : -fx-primary-color;
}

#selected_left_button {
    -fx-background-color : -fx-light-primary-color;
    -fx-border-color : -fx-primary-color;
}

/* BACKGROUNDS */
#background_2 {
    -fx-background-color : -fx-background3-color;
}

#background_1 {
    -fx-background-color : -fx-background1-color;
}

#left_panel {
    -fx-border-color :  -fx-lines-color;
}

#right_panel {
    -fx-background-color : -fx-background1-color;
    -fx-border-color :  -fx-lines-color;
}

#select_pane {
    -fx-background-color : -fx-background3-color;
    -fx-background-radius : 4;
}

/* DATE */
.date-picker-popup {
    -fx-background-color: #00000000;
}

.date-picker-popup > *, .date-picker > * {
    -fx-font-family : Oswald;
}

.date-picker .cell {
    -fx-border-radius : 4;
    -fx-background-color: -fx-background1-color;
    -fx-pref-width:30px ;
    -fx-pref-height:25px ;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-background2-color;
    -fx-text-fill : -fx-hyperlink-color;
}
    
.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
}

.date-picker .button {
    -fx-background-color: -fx-arrow-bg-color;
    -fx-border-radius : 4;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}
    
.date-picker .text-field {
    -fx-background-color : -fx-background2-color;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

.date-picker {
    -fx-background-color : -fx-background2-color;
    -fx-border-color : -fx-background2-color;
    -fx-border-radius : 4;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0; /* Set the node in the button to be visible */
}

.date-picker > .arrow-button {
    -fx-background-color : #00000000;
    -fx-background-image: url("../img/icons/calendar.png"); /* Url of the icon */
    -fx-background-size: 100% 100%; /* Can be `cover` or `100% 100%` ect. */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; /* Put the icon in the center */
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 4;
    -fx-border-width : 40;

}

.date-picker-popup .month-year-pane .label {
	-fx-text-fill: -fx-background1-color;

}

.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-primary-color;
    -fx-border-color: #00000000;
    -fx-background-color: -fx-lines-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: -fx-background1-color;
}

.combo-box-base:editable > *,
.date-picker-popup > * {
    -fx-background-color: -fx-background2-color;
    -fx-background-radius: 4;
}

/* SPINNER */
.spinner {
    -fx-font-family : Oswald;
    -fx-background-color : -fx-background2-color;
    -fx-border-color : -fx-background2-color;
    -fx-border-radius : 4;
}

.spinner .text-field {
    -fx-background-color : -fx-background2-color;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

.date-picker .cell {
    -fx-border-radius : 4;
    -fx-background-color: -fx-background1-color;
    -fx-pref-width:30px ;
    -fx-pref-height:25px ;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-background2-color;
    -fx-text-fill : -fx-hyperlink-color;
}
    
.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
}

.spinner .button {
    -fx-background-color: -fx-arrow-bg-color;
    -fx-border-radius : 4;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}
    
.date-picker .text-field {
    -fx-background-color : -fx-background2-color;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

.date-picker {
    -fx-background-color : -fx-background2-color;
    -fx-border-color : -fx-background2-color;
    -fx-border-radius : 4;
}

.date-picker:hover {
    -fx-background-color : -fx-background2-color-alt;
    -fx-border-color : -fx-background2-color-alt;
}

.spinner > * {
    -fx-background-color : #00000000;
}

/*DROPDOWN*/
#dropdown {
    -fx-background-color : -fx-primary-color;
}

#dropdown > * {
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

#dropdown:hover {
    -fx-background-color : -fx-primary-color-alt;
}

#dropdown_item {
    -fx-background-color : -fx-background1-color;
    -fx-font-family : Oswald;
    -fx-text-fill : -fx-text-color;
}

#dropdown_item:focused {
    -fx-background-color : -fx-primary-color;
    -fx-font-family : Oswald;
}

#dropdown_item:focused > *{
    -fx-text-fill : -fx-text-color;
}

/*CHECKBOX*/
#checkbox > * {
    -fx-background-color : -fx-background2-color;
    -fx-backgroud-radius : 4;
    -fx-border-color : none;
}

#checkbox:hover > * {
    -fx-background-color : -fx-background2-color-alt;
}